<h2> Book A Site Through Us! </h2>

<% if flash[:trip_errors] %>
    <p style="color:red">Error:</p>
    <% flash[:trip_errors].each do |message| %>
        <ul>
            <li style="color:red"><%= message %></li>
        </ul>
    <% end %>
<% end %>   

<%= render "form" %>