
<h2 class="text-white">Parks</h2> 

<%= form_tag (parks_path method: :get)%>
<%= text_field_tag :park, params[:park_name]%>
<%= submit_tag 'Search'%>
<%end%>
<ul class="list_column pt2">
    <% @parks.each do |park|%>
        <li><%= link_to park.park_name, park_path(park.id)%></li>
    <%end%>
</ul>

