<h1> List of National Parks with Campsites </h1>

<ul>
    <% @parks.each do |park|%>
    <li><%=park.park_name%></li>
    <ul>
    <li><%= park.park_code%></li>
    </ul>
    <li><%= link_to "Park Page", park_path(park.id)%></li>
    <br><br>
    <%end%>
</ul>

