
<h2 class="mt-2 mb-4">Profile</h2>
<ul>
  <li class="mt-2 mb-2"> Name: <%= @user.name %> </li>
  <li class="mt-2 mb-2"> Email: <%= @user.email %> </li>
  <li class="mt-2 mb-2"> Password: ****** </li>
  <li class="mt-2 mb-2"> <%= link_to 'update your information', edit_user_path(@current_user) %> </li>
  <li> <%= button_to 'delete account','/users/:id', method: :delete, class: "btn btn-primary border-white mt-4 mb-3" %> </li>
</ul>

