
* {
  list-style: none;
}

.text-white {
  text-shadow: 1px 1px 6px #666666;
}

.text-orange {
  color: #FF6600;
}
.header-bar {
  z-index: 25;
}
.header-mask {
  width: 100%;
  height: 12vh;
  position: fixed !important;
  background:linear-gradient(#ffffff, #ffffff, 93%,rgba(255,255,255,.1));
}

.home-img {
  background: url(../assets/zion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  background-size: cover;
  position: relative;
  top: 10vh;
  padding: 5%;
  height: 16vh;
}

.main {
  margin-top: 20vh;
}

.index_search {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  z-index: -1;
  position:relative;
}

.logo {
  width: 75px;
  height: 75px;
}

header {
  width: 100%;
  height: 10vh;
  position: fixed !important;
  display: grid !important;
  grid-template-columns: 10% 40% 20% 30%;;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  margin: 10vh 0 0;
  width: 100%;
  background-color: #FF8533;
}

.creators {
  color: #ffffff;
  text-align: center;
  font-size: .65em;
  padding-top: .75em;
}

a:hover {
  color: #FFD67A !important;
  text-decoration: none;
}

h1, .fa-user-circle, .h1, a {
  color: #FF6600;
}

.h1:hover {
  text-decoration: none;
  color: #FF8228 !important;
}

.user-top-r {
  grid-column: 4/4;
  display: flex;
  max-width: 200px;
}

.user-top-r a {
  flex: 50%;
  display: flex;
}

.user-top-r form {
  flex: 50%;
}

.user-top-r h3, .user-top-r form {
  display: inline-block;
}

.fa-user-circle {
  font-size: 1.75em;
  flex: 33%;
  align-self: center;
}

.user-top-r h3 {
  font-size: 1.25em;
  color: #FF6600;
  padding: 6px;
  flex: 66%;
}

.user-top-r input {
  min-width: 50px;
}

.btn {
  background-color: #FF8533;
  min-width: 100px;
}
.btn:hover {
  background-color: #FF6600;
}

.width-50 {
  width: 50%;
  min-width: 180px;
}
.width-30 {
  width: 30vw;
}
.inline {
  display: inline;
}
input {
  outline-color: #FF9D44; 
}

.input-pad {
  padding: 4px 0 8px;
}

.stretch {
  height: 30%;
  width: 50%;
}

.img_container {
  position: relative;
}

.small_img {
  position: relative; 
  top: -2px;
  width: 30%;
}

.list_column {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  
}

.new_trip {
  display: flex;
  flex-wrap: wrap;
}

.new_trip .field_with_errors:nth-child(odd) {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.new_trip .field_with_errors:nth-child(even) {
  flex: 30%;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.flexy {
  display: flex;
  justify-content: center;
}

.flex-center {
  justify-self: center;
}