/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: url(../assets/zion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-size: cover;
}

h1, .fa-user-circle {
  color: #FF6600;
}

.user-top-r h3, .user-top-r form {
  display: inline-block;
}
.fa-user-circle {
  font-size: 1.75em;
}
.user-top-r h3 {
  font-size: 1.25em;
  color: #FF6600;
  padding: 6px;
}
.user-top-r input {
  min-width: 50px;
}
.btn {
  background-color: #FF8533;
  min-width: 100px;
}
.btn:hover {
  background-color: #FF6600;
}

.width-50 {
  width: 50%;
  min-width: 180px;
}

input {
  outline-color: #FF9D44; 
}

a:hover {
  color: #FFD67A !important;
}