
* {
  list-style: none;
}
body {
  font-family: 'Raleway', sans-serif;

}

.font-2 {
  font-size: 1.25rem;
}

.marg-33 {
  margin-left: 33.33%;
}


.text-white {
  text-shadow: 1px 1px 6px #666666;
}

.text-orange {
  color: #FF6600;
}

.width-30 {
  width: 30vw;
}

.width-50 {
  width: 50%;
  min-width: 180px;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.flexy {
  display: flex;
  justify-content: center;
}

.flex-center {
  justify-self: center;
}

input {
  outline-color: #FF9D44; 
}

/* input[type="submit"] {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
} */

.input-pad {
  padding: 4px 0 8px;
}

.inline {
  display: inline;
}

a:hover {
  color: #FFD67A !important;
  text-decoration: none;
}

.btn {
  background-color: #FF8533;
  min-width: 100px;
}
.btn:hover {
  background-color: #FF6600;
}

/* HEADER */

header {
  width: 100%;
  height: 10vh;
  position: fixed !important;
  display: grid !important;
  grid-template-columns: 10% 40% 20% 30%;;
  justify-content: center;
  align-items: center;
}

.header-bar {
  z-index: 25;
}

.logo {
  width: 75px;
  height: 75px;
  justify-self: end;
  margin-top: 1.5px;
}

.pop-up {
  opacity: 0;
  transition: opacity .4s ease-in-out; 
  transition-delay: 1s;
  position: absolute;
  top: 6vh;
  left: -8vw;
  background-color: #333333;
  padding: 1vh 1vw;
  color: #ffffff;
  font-size: 12px; 
}

.right {
  left: 35vw;
}

.header-bar a:hover .pop-up{
  opacity: 1; 
}

.header-bar h1 a:hover .pop-up {
  opacity: 1;
}

.header-mask {
  width: 100%;
  height: 12vh;
  position: fixed !important;
  background:linear-gradient(#ffffff, #ffffff, 93%,rgba(255,255,255,.1));
  z-index: 23;
}


h1, .fa-user-circle, .h1, a {
  color: #FF6600;
}

h1 {
  /* font-family: 'Elsie', cursive; */
  font-family: 'Fredoka One', cursive;
  font-family: 'Poppins', sans-serif;
}

.h1:hover {
  text-decoration: none;
  color: #FF8228 !important;
}

.user-top-r {
  grid-column: 4/4;
  display: flex;
  max-width: 200px;
  position: relative;
}

.user-top-r a {
  flex: 50%;
  display: flex;
}

.user-top-r form {
  flex: 50%;
}

.user-top-r h3, .user-top-r form {
  display: inline-block;
}

.fa-user-circle {
  font-size: 1.75em;
  flex: 33%;
  align-self: center;
}

.user-top-r h3 {
  font-size: 1.25em;
  color: #FF6600;
  padding: 6px;
  flex: 66%;
}

.user-top-r input {
  min-width: 50px;
}

/* MAIN CONTENT */

.home-img {
  background: url(../assets/zion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  background-size: cover;
  position: relative;
  top: 10vh;
  padding: 5%;
  height: 16vh;
  z-index: 24;
}

.main {
  margin-top: 20vh;
}

.index_search {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  z-index: -1;
  position:relative;
}

.update-link {
  border: 1px solid #111111;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.creators {
  color: #ffffff;
  text-align: center;
  font-size: .65em;
  padding-top: .75em;
}

.stretch {
  height: 30%;
  width: 50%;
}

.img_container {
  position: relative;
}

.small_img {
  position: relative; 
  top: -2px;
  width: 30%;
}

.list_column {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  
}

.new_trip {
  display: flex;
  flex-wrap: wrap;
}

.new_trip .field_with_errors:nth-child(odd) {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.new_trip .field_with_errors:nth-child(even) {
  flex: 30%;
  display: flex;
  justify-content: center;
}

footer {
  height: 5vh;
  margin: 10vh 0 0;
  width: 100%;
  background-color: #FF8533;
}